/* #region Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 1200px;
}

:root {
    --boo-sust: #008000;
    --boo-dark: #1A1A1A;
    --boo-sale: #FF0000;
    --boo-header: #FF6900;

}
/* #endregion */

/* #region debug */

.debug header {
    background-color: greenyellow;
    height: 2rem;
}


.debug .col-2,
.debug .col-8,
.debug .col-4 {
    background-color: blueviolet;
    height: 1.5rem;
    border: 1px solid;
}

.debug .articles {
    height: 20rem;
    background-color: blue;
    width: 100%;
}

.debug .site_footer {
    height: 5rem;
    background-color: red;
}

.debug .info,
.debug .social {
    background-color: aqua;
    height: 3rem;
}
/* #endregion */


/* #region utilities */

.row {
    display: flex;
    flex-wrap: wrap;
}

.row_space_between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-4 {
    width: calc(95% / 12 * 4 );
}

/* #endregion */

/* header */
header {
    background-color:var(--boo-header);
}

header .col-8 {
    text-align: center;
    padding: 0.5rem 0;
}

header a {
    text-decoration: none;
    color: white;
}

header i {
    color: white;
    padding: 0 2px;
}

/* main */
.up_left {
    height: 25rem;
    background-image: url(../img/img/1.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.up_center {
    height: 25rem;
    background-image: url(../img/img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.up_right {
    height: 25rem;
    background-image: url(../img/img/3.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.articles {
    margin-top: 2rem;
}



