* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 1200px;
}

/* #region debug */

.debug header {
    background-color: greenyellow;
    height: 2rem;
}


.debug .col-2,
.debug .col-8,
.debug .col-4 {
    background-color: blueviolet;
    height: 1.5rem;
    border: 1px solid;
}

.debug .articles {
    height: 20rem;
    background-color: blue;
    width: 100%;
}

.debug .site_footer {
    height: 5rem;
    background-color: red;
}

.debug .info,
.debug .social {
    background-color: aqua;
    height: 3rem;
}
/* #endregion */


/* #region utilities */

.row {
    display: flex;
    flex-wrap: wrap;
}

.row_space_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

/* #endregion */
