/* #region Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 1200px;
}

:root {
    --boo-sust: #008000;
    --boo-dark: #1A1A1A;
    --boo-sale: #FF0000;
    --boo-header: #FF6900;

}
/* #endregion */

/* #region debug */

.debug header {
    background-color: greenyellow;
    height: 2rem;
}


.debug .col-2,
.debug .col-8,
.debug .col-4 {
    background-color: blueviolet;
    height: 1.5rem;
    border: 1px solid;
}

.debug .articles {
    height: 20rem;
    background-color: blue;
    width: 100%;
}

.debug .site_footer {
    height: 5rem;
    background-color: red;
}

.debug .info,
.debug .social {
    background-color: aqua;
    height: 3rem;
}
/* #endregion */


/* #region utilities */

.row {
    display: flex;
    flex-wrap: wrap;
}

.row_space_between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-4 {
    width: calc(95% / 12 * 4 );
}

/* #endregion */

/* header */
header {
    background-color:var(--boo-header);
}

header .col-8 {
    text-align: center;
    padding: 0.5rem 0;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header i {
    color: white;
    padding: 0 2px;
}

/* main */

main {
    line-height: 1.2rem;
}
.up_left {
    height: 25rem;
    background-image: url(../img/img/1.webp);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

.up_center {
    height: 25rem;
    background-image: url(../img/img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.up_right {
    height: 25rem;
    background-image: url(../img/img/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}


.bottom_left {
    height: 25rem;
    background-image: url(../img/img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}
.bottom_center {
    height: 25rem;
    background-image: url(../img/img/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bottom_right {
    height: 25rem;
    background-image: url(../img/img/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.articles {
    margin-top: 2rem;
}

.heart {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 4px;
    background-color: white;
    padding: 5px 10px;
}

.sale_sust {
    position: absolute;
    bottom: 2rem;
}

.sale {
    background-color: var(--boo-sale);
}

.sust {
    background-color: var(--boo-sust);
}

.sale, .sust {
    padding: 3px;
    font-size: 0.8rem;
    color: white;
    font-weight: bolder;
}

.descr {
    position: absolute;
    top: 102%;
}

.type {
    font-weight: bold;
}

.price_red {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.price_black {
    text-decoration: line-through;
}

.down {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

/* footer */




